<h1>Lista de contatos</h1>

<div id="guardaListagens">
    <table>
        <tr id="firstTr">
            <th>Nome</th>
            <th>E-mail</th>
            <th>Telefone</th>
            <th>Assunto</th>
            <!-- <th>Mensagem</th> -->
            <th style="width:17%;"></th>
            <th style="width:17%;"></th>
            <th style="width:16%;"></th>
        </tr>

        <% @contatos.each do |contato| %>
            <% if contato == @contatos.last && contato.novo? %>
            <tr class="ultimaTr novoItemContato">
            <% elsif contato == @contatos.last %>
            <tr class="ultimaTr">
            <% elsif contato.novo? %>
            <tr class="novoItemContato">
            <% else %>
            <tr>
            <% end %>
                <td><%= contato.nome %></td>
                <td><%= contato.email %></td>
                <td><%= contato.telefone %></td>
                <td><%= contato.assunto %></td>
                <!-- <td><%#= contato.mensagem %></td> -->
                <td style="width:10%;"><%= link_to 'Mostrar', [:admin, contato] %></td>
                <td style="width:10%;"><%= link_to 'Deletar', [:admin, contato], confirm: 'Tem certeza que deseja excluir este contato?', method: :delete, :class => 'deletar' %></td>
            </tr>
        <% end %>
    </table>

    <br />

    <%#= link_to 'Novo Contato', new_admin_contato_path, :id => 'novoItem' %>
</div>