<h1>Lista de banners</h1>
<div id="guardaListagens">
	<table>
	  <tr id="firstTr">
	    <th>Nome</th>
	    <th>Link</th>
	    <th>Data publicação</th>
	    <th>Ativo?</th>
	    <th style="width:8%;"></th>
	    <th style="width:8%;"></th>
	    <th style="width:8%;"></th>
	  </tr>

	<% @banners.each do |banner| %>
	  <% if banner == @banners.last %>
		<tr class="ultimaTr">
	<% else %>
		<tr>
	<% end %>
	    <td><%= banner.nome %></td>
	    <td><%= banner.link %></td>
	    <td><%= banner.data_pub %></td>
	    <td><%= banner.status_banner %></td>
	    <td style="width:5%;"><%= link_to 'Mostrar', [:admin, banner] %></td>
	    <% if banner.ativo == 1 %>
	    <td style="width:5%;"><%= link_to 'Desativar', "/admin/banners/#{banner.id}/desativar", :method => :put %></td>
	    <% else %>
	    <td style="width:5%;"><%= link_to 'Ativar', "/admin/banners/#{banner.id}/ativar", :method => :put %></td>
	    <% end %>
	    <td style="width:5%;"><%= link_to 'Editar', edit_admin_banner_path(banner) %></td>
	    <td style="width:5%;"><%= link_to 'Deletar', [:admin, banner], confirm: 'Tem certeza que deseja deletar este banner?', method: :delete, :class => 'deletar' %></td>
	  </tr>
	<% end %>
	</table>

	<br />

	<%= link_to 'Novo Banner', new_admin_banner_path, :id => 'novoItem' %>
</div>
