<p id="notice"><%= notice %></p>

<p>
  <b>Nome:</b>
  <%= @banner.nome %>
</p>

<p>
  <b>Link:</b>
  <%= @banner.link %>
</p>

<p>
  <b>Data pub:</b>
  <%= @banner.data_pub %>
</p>

<p>
  <b>Banner:</b>
  <%= image_tag @banner.imagem.url(:thumb) %>
</p>

<%= link_to 'Editar', edit_admin_banner_path(@banner) %> |
<%= link_to 'Voltar', admin_banners_path %>
