<h1>Lista de fornecedores</h1>

<div id="guardaListagens">
    <table>
        <tr id="firstTr">
            <th>Razão social ou Nome fantasia</th>
            <!-- <th>CNPJ</th> -->
            <th>Nome contato</th>
            <th>Telefone</th>
            <th style="width:17%;"></th>
            <th style="width:16%;"></th>
        </tr>

        <% @fornecedores.each do |fornecedor| %>
            <% if fornecedor == @fornecedores.last && fornecedor.novo? %>
            <tr class="ultimaTr novoItemContato">
            <% elsif fornecedor == @fornecedores.last %>
            <tr class="ultimaTr">
            <% elsif fornecedor.novo? %>
            <tr class="novoItemContato">
            <% else %>
            <tr>
            <% end %>
                <td><%= fornecedor.razao_social %></td>
                <!-- <td><%#= fornecedor.cnpj %></td> -->
                <td><%= fornecedor.nome_contato %></td>
                <td><%= fornecedor.telefone %></td>
                <td><%= link_to 'Mostrar', [:admin, fornecedor] %></td>
                <td><%= link_to 'Deletar', [:admin, fornecedor], confirm: 'Tem certeza que deseja excluir este fornecedor?', method: :delete, :class => 'deletar' %></td>
            </tr>
        <% end %>
    </table>

    <br />

    <%#= link_to 'Novo Fornecedor', new_admin_fornecedor_path, :id => 'novoItem' %>
</div>