<h1>Lista de Contatos por Produto</h1>

<div id="guardaListagens">
    <table>
        <tr id="firstTr">
            <th>Nome</th>
            <th>E-mail</th>
            <!-- <th>Telefone</th> -->
            <th>Assunto</th>
            <!-- <th>Mensagem</th> -->
            <th>Produto</th>
            <th style="width:16%;"></th>
        </tr>

        <% @contato_produtos.each do |contato_produto| %>
            <% if contato_produto == @contato_produtos.last %>
            <tr class="ultimaTr">
            <% else %>
            <tr>
            <% end %>
                <td><%= contato_produto.nome %></td>
                <td><%= contato_produto.email %></td>
                <!-- <td><%#= contato_produto.telefone %></td> -->
                <td><%= contato_produto.assunto %></td>
                <!-- <td><%#= contato_produto.mensagem %></td> -->
                <td><%= contato_produto.produto.nome %></td>
                <td><%= link_to 'Mostrar', [:admin, contato_produto] %></td>
            </tr>
        <% end %>
    </table>

    <br />
</div>