<p id="notice"><%= notice %></p>

<h1>CONTATO DE <%= @contato_produto.nome.upcase %> </h1>

<div id="detalheItemAdmin">
  <ul>
    <li>
      <p>
        <b>Nome:</b> <br/>
        <%= @contato_produto.nome %>
        <br/><br/>
      </p>
    </li>

    <li>
      <p>
        <b>E-mail:</b> <br/>
        <%= @contato_produto.email %>
        <br/><br/>
      </p>
    </li>

    <li>
      <p>
        <b>Telefone:</b><br/>
        <%= @contato_produto.telefone %>
        <br/><br/>
      </p>
    </li>

    <li>
      <p>
        <b>Produto:</b><br/>
        <%= @contato_produto.produto.nome %>
        <br/><br/>
      </p>
    </li>

    <li>
      <p>
        <b>Assunto:</b><br/>
        <%= @contato_produto.assunto %>
        <br/><br/>
      </p>
    </li>

    <li>
      <p>
        <b>Mensagem:</b><br/>
        <%= @contato_produto.mensagem %>
        <br/><br/>
      </p>
    </li>

    <li>
      <%= link_to 'Voltar', admin_contato_produtos_path %>
    </li>
  </ul>
</div>