<%= content_for :title do %>
	Seja um fornecedor - CSilkBrindes
<% end %>

<% flash.each do |type, message| %>
	<script type="text/javascript">
		alert("<%= message %>");
	</script>
<% end %>

<!-- SEJA UM FORNECEDOR -->
<div id="quemSomos">
	<h1>Seja um fornecedor</h1>

	<p>A CSilk Brindes busca novas tecnologias, novos produtos dia a dia para disponibilizar aos seus cliente e proporcionar melhores qualidades e opções, sempre com o intuito de melhor atende-los.</p>

	<p>Para isso estamos em busca de solução padrão para colocar produtos com o menor valor e reduzir os custos de vida útil do produto. Assim, analisamos com frequência nossa base de fornecedores e criamos relacionamentos sólidos.</p>

	<p>Se você fornecedor, tem a disponibilidade desse material promocional, Importado ou Nacional, seja bem vindo e cadastre-se para fazer parte de nossa base de fornecedores e para que possamos entrar em contato.</p>

	<p>Todos os cadastros serão analisados, em caso de dúvidas, estaremos à disposição para possíveis esclarecimentos.</p>

	<%= form_for @fornecedor do |f| %>
		<ul>
			<li>
				<label>
					<span>Razão social ou Nome fantasia*:</span><br/>
					<%= f.text_field :razao_social, :class => "text" %>
				</label>
			</li>

			<li>
				<label>
					<span>CNPJ*:</span><br/>
					<%= f.text_field :cnpj, :class => "text" %>
				</label>
			</li>

			<li>
				<label>
					<span>Nome para contato*:</span><br/>
					<%= f.text_field :nome_contato, :class => "text" %>
				</label>
			</li>

			<li>
				<label>
					<span>Telefone*:</span><br/>
					<%= f.text_field :telefone, :class => "text" %>
				</label>
			</li>

			<li>
				<label>
					<span>E-mail*:</span><br/>
					<%= f.text_field :email, :class => "text" %>
				</label>
			</li>

			<li>
				<%= f.submit "Enviar" %>
			</li>
		</ul>
	<% end %>

</div>
<!-- / SEJA UM FORNECEDOR -->