<%= content_for :title do %>
	Clientes - CSilkBrindes
<% end %>

<!-- QUEM SOMOS -->
<div id="quemSomos">
	<h1>Clientes</h1>
	
	<ul id="guardaClientes">
		<li><%= image_tag "cliente-vivo.jpg", :alt => "Vivo" %></li>
		<li><%= image_tag "cliente-lg.jpg", :alt => "LG" %></li>
		<li><%= image_tag "cliente-skyy.jpg", :alt => "SKYY Vodka" %></li>
		<li><%= image_tag "cliente-puc.jpg", :alt => "PUC" %></li>
		<li><%= image_tag "cliente-swift.jpg", :alt => "Swift" %></li>
		<li><%= image_tag "cliente-parmalat.jpg", :alt => "Parmalat" %></li>
		<li><%= image_tag "cliente-brastemp.jpg", :alt => "Brastemp" %></li>
		<li><%= image_tag "cliente-flying.jpg", :alt => "Flying Horse" %></li>
		<li><%= image_tag "cliente-consul.jpg", :alt => "Consul" %></li>
		<li><%= image_tag "cliente-bells.jpg", :alt => "Bells" %></li>
		<li><%= image_tag "cliente-cancerdemama.jpg", :alt => "Alvo da Moda" %></li>
		<li><%= image_tag "cliente-night.jpg", :alt => "Night Power" %></li>
		<li><%= image_tag "cliente-nitrix.jpg", :alt => "Nitrix" %></li>
		<li><%= image_tag "cliente-mitto.jpg", :alt => "Mitto" %></li>
	</ul>
</div>
<!-- / QUEM SOMOS -->