<%= content_for :title do %>
	CSilkBrindes
<% end %>

<!-- SLIDER -->
<div id="guardaSlider">
  <div id="banners">
  	<% @banners.each do |b| %>
  		<%= link_to image_tag( b.imagem, :alt => b.nome ), b.link %>
  	<% end %>
  </div>
  <div id="paginacao">                      
  </div>
</div>
<!-- / SLIDER -->

<!-- PRODUTOS EM DESTAQUE -->
<div id="guardaProdutosDestaques">
  <p class="tituloDestaque">Produtos em destaque</p>
  <div id="geralProdutosDestaques">
      
      <div id="produtosDestaque">
        <ul>
          <% @produtos.each do |product| %>
            <li>
                <div class="sliderProdutoDestaque">
                    <div class="guardaImagem">
                      <% if product.fotos.any? %>
                      <%= link_to image_tag(product.fotos.first.picture.url(:medio), :alt => product.nome), produto_path(product.categoria.slug, product.slug) %>
                      <% end %>
                    </div>
                    <div class="nomeProduto">
                        <p><%= link_to product.nome, produto_path(product.categoria.slug, product.slug) %></p>
                    </div>
                    <div class="saibaMais">
                      <%= link_to image_tag("bt-saibia-mais.gif", :alt => "Saiba Mais"), produto_path(product.categoria.slug, product.slug) %>
                    </div>
                </div>
            </li>
          <% end %>
        </ul>
      </div>
      
  </div>
</div>
<!-- / PRODUTOS EM DESTAQUE -->

<!-- PRODUTOS MAIS VENDIDOS -->
<div id="guardaProdutosVendidos">
  <p class="tituloDestaque">Mais acessados</p>
  <div id="geralProdutosVendidos">
      <div id="produtosVendidos">
          <ul>
              <% @produtos_acessados.each do |acessados| %>
              <li>
                  <div class="sliderProdutoVendidos">
                      <div class="guardaImagem">
                        <% if acessados.fotos.any? %>
                        <%= link_to image_tag(acessados.fotos.first.picture.url(:medio), :alt => acessados.nome), produto_path(acessados.categoria.slug, acessados.slug) %>
                        <% end %>
                      </div>
                      <div class="nomeProduto">
                          <p><%= link_to acessados.nome, produto_path(acessados.categoria.slug, acessados.slug) %></p>
                      </div>
                      <div class="saibaMais">
                          <%= link_to image_tag("bt-saibia-mais.gif", :alt => "Saiba Mais"), produto_path(acessados.categoria.slug, acessados.slug) %>
                      </div>
                  </div>
              </li>
              <% end %>
          </ul>
      </div>
  </div>
</div>
<!-- / PRODUTOS MAIS VENDIDOS -->