<h1>Lista de produtos</h1>
<div id="guardaListagens">
    <table>
        <tr id="firstTr">
            <th style="width:10%;">Número</th>
            <th>Nome</th>
            <!-- <th>Slug</th> -->
            <!-- <th>Descricao</th> -->
            <!-- <th>Numero de visitas</th> -->
            <!-- <th>Numero de contatos</th> -->
            <th>Categoria</th>
            <th style="width:17%;"></th>
            <th style="width:17%;"></th>
            <th style="width:16%;"></th>
        </tr>

        <% @produtos.each do |produto| %>
            <% if produto == @produtos.last %>
            <tr class="ultimaTr">
            <% else %>
            <tr>
            <% end %>
                <td style="width:10%;"><%= produto.id %></td>
                <td><%= produto.nome %></td>
                <!-- <td><%= produto.slug %></td> -->
                <!-- <td><%= produto.descricao.html_safe %></td> -->
                <!-- <td><%= produto.nvisitas %></td> -->
                <!-- <td><%= produto.ncontatos %></td> -->
                <td><%= produto.categoria.nome %></td>
                <td style="width:17%;"><%= link_to 'Mostrar', [:admin, produto] %></td>
                <td style="width:17%;"><%= link_to 'Editar', edit_admin_produto_path(produto) %></td>
                <td style="width:16%;"><%= link_to "Deletar", [:admin, produto], confirm: 'Tem certeza que deseja excluir este produto?', method: :delete, :class => 'deletar' %></td>
            </tr>
        <% end %>
    </table>

    <%= will_paginate @produtos %>

    <br />

    <%= link_to 'Novo Produto', new_admin_produto_path, :id => 'novoItem' %>
</div>
