<h1>Lista de produtos</h1>

<table>
  <tr>
    <th>Número</th>
    <th>Nome</th>
    <th>Slug</th>
    <th>Descricao</th>
    <th>Numero de visitas</th>
    <th>Numero de contatos</th>
    <th>Categoria</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @produtos.each do |produto| %>
  <tr>
    <td><%= produto.id %></td>
    <td><%= produto.nome %></td>
    <td><%= produto.slug %></td>
    <td><%= produto.descricao.html_safe %></td>
    <td><%= produto.nvisitas %></td>
    <td><%= produto.ncontatos %></td>
    <td><%= produto.categoria.nome %></td>
    <td><%= link_to 'Mostrar', [:admin, produto] %></td>
    <td><%= link_to 'Editar', edit_admin_produto_path(produto) %></td>
    <td><%= link_to "Deletar", [:admin, produto], confirm: 'Tem certeza que deseja excluir este produto?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Novo Produto', new_admin_produto_path %>
