<h1>Lista de categorias</h1>
<div id="guardaListagens">
<table>
  <tr id="firstTr">
    <th>Nome</th>
    <th>Slug</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @categorias.each do |categoria| %>
	<% if categoria == @categorias.last %>
		<tr class="ultimaTr">
	<% else %>
		<tr>
	<% end %>
    <td><%= categoria.nome %></td>
    <td><%= categoria.slug %></td>
    <td><%= link_to 'Mostrar', [:admin, categoria] %></td>
    <td><%= link_to 'Editar', edit_admin_categoria_path(categoria) %></td>
    <td><%= link_to 'Deletar', [:admin, categoria], confirm: 'Tem certeza que deseja excluir esta categoria?', method: :delete, :class => 'deletar' %></td>
  </tr>
<% end %>
</table>

<%= will_paginate @categorias %>

<br />

<%= link_to 'Nova Categoria', new_admin_categoria_path, :id => 'novoItem' %>
</div>
