<!DOCTYPE html>
<html>
  <head>
  <title>Admin CSilk Brindes</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "admin" %>
  <%= csrf_meta_tags %>
  <meta name="robots" content="noindex, nofollow">
  <script type="text/javascript" src="/assets/ckeditor/ckeditor.js"></script>
  </head>
  <body>
    <!-- LOGO -->
    <div id="logoAdmin">
      <a href="../../admin"> <%= image_tag 'logo2.png' %> </a>
    </div>
    <!-- / LOGO -->

    <!-- MENU ADMIN -->
    <% if user_signed_in? %>
      <div id="menuAdmin">
        <ul>
          <li><%= link_to "Produtos", admin_produtos_path %></li>
          <li><%= link_to "Banners", admin_banners_path %></li>
          <li><%= link_to "Categorias", admin_categorias_path %></li>
          <li><%= link_to "Newsletter", admin_newsletters_path %></li>
          <li><%= link_to "Contatos - Fale Conosco", admin_contatos_path %></li>
          <li><%= link_to "Contatos - Produto", admin_contato_produtos_path %></li>
          <li><%= link_to "Fornecedores", admin_fornecedores_path %></li>
          <li><%= link_to "Sair", destroy_user_session_path, :method => :delete %></li>
        </ul>
      </div>
    <% end %>
    <!-- / MENU ADMIN -->

    <!-- CONTEUDO -->
    <div id="wrapperAdmin">
      <%= yield %>
    </div>
    <!-- / CONTEUDO -->

    <div id="rodapeAdmin">
      <p> CSilkBrindes - Todos os direitos reservados - 2011/<%= Time.now.year %> </p>
    </div>

    <script type="text/javascript">
      <%= yield :js %>
    </script>
  </body>
</html>

