<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="pt-br" lang="pt-br">
<head>
  <title><%= yield :title %></title>
  <meta name="author" content="Kako Botasso" />
  <meta name="description" content="<%= yield :metadescription %>" />
  <meta name="keywords" content="<%= yield :metakeywords %>" />
  <%= yield :metafacebook %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<body>
      <div id="header">
          <div class="wrapper">
              <!-- LOGO -->
              <div id="guardaLogo">
                  <h1>
                  	<%= link_to image_tag("logo2.png", :alt => "CSilkBrindes"), "/", :title => "CsilkBrindes" %>
                  </h1>
              </div>
              <!-- / LOGO -->

              <!-- REDES SOCIAIS -->
              <div id="redesSociais">
                  <ul>
                      <li><%= link_to image_tag("logo-facebook.png", :alt => "Facebook"), "http://www.facebook.com/csilk.brindes.7", :target => "_blank" %></li>
                      <li><%= link_to image_tag("logo-twitter.png", :alt => "Twitter"), "https://twitter.com/csilkbrindes", :target => "_blank" %></li>
                      <li><%= link_to image_tag("logo-linkedin.png", :alt => "LinkedIn"), "http://www.linkedin.com/profile/view?id=193480752&authType=OUT_OF_NETWORK&authToken=0GX_", :target => "_blank" %></li>
                      <li><%= link_to image_tag("logo-flickr.png", :alt => "Flickr"), "http://www.flickr.com/people/csilkbrindes/", :target => "_blank" %></li>
                      <li><%= link_to image_tag("logo-youtube.png", :alt => "Youtube"), "https://www.youtube.com/user/csilkbrindes", :target => "_blank" %></li>
                  </ul>
              </div>
              <!-- / REDES SOCIAIS -->
          </div>

          <!-- MENU -->
          <div id="menu">
              <div id="contentMenu">
                  <ul>
                      <li><%= link_to "Home", "/", :title => "Home"%></li>
                      <li>
                        <%= link_to "Institucional", "javascript:void(0);", :title => "Institucional"%>
                        <div class="submenu">
                          <ul>
                            <li><%= link_to "Quem somos", quem_somos_path %></li>
                            <li><%= link_to "O que fazemos", fazemos_path %></li>
                            <li><%= link_to "Sustentabilidade", sustentabilidade_path %></li>
                          </ul>
                        </div>
                      </li>

                      <li>
                        <%= link_to "Produtos", produtos_path, :title => "Produtos"%>
                      </li>
                      
                      <li><%= link_to "Clientes", clientes_path, :title => "Clientes"%></li>
                      
                      <li class="ultimaLiTopo">
                        <%= link_to "Contato", contatos_path, :title => "Contato"%>
                        <div class="submenu">
                          <ul>
                            <li><%= link_to "Fale Conosco", contatos_path %></li>
                            <li><%= link_to "Seja um fornecedor", fornecedores_path %></li>
                            <li><%= link_to "Cotação", cotacoes_path %></li>
                          </ul>
                        </div>
                      </li>
                  </ul>
              </div>
          </div>
          <!-- / MENU -->
      </div>
      
      <!-- CONTEUDO -->
      <div id="contentWrapper">
          <div id="content">
              <!-- BREADCRUMB -->
              <div id="breadcrumb">
                  <p>
                  	<span>Você está em:</span>
                  	<%= yield :bread %>
                  </p>
              </div>
              <!-- / BREADCRUMB -->
              
              <!-- MENU CATEGORIAS -->
              <div id="guardaMenuCategoria">
                  <ul>
                  	<% categorias.each do |c| %>
                      <% if c.produtos.size > 0 %>
                    	<li id="<%= c.slug %>">
                    		<%= link_to c.nome+" (#{c.produtos.size})", categoria_path(c.slug) %>
                    		<ul>
                    		  <% c.produtos.each do |p| %>
                    		  <li><%= link_to p.nome, produto_path(c.slug, p.slug), :id => p.slug %></li>
                    		  <% end %>
                    		</ul>
                    		
                    	</li>	
                      <% end %>
                    <% end %>
                  </ul>
              </div>
              <!-- / MENU CATEGORIAS -->
              
              <!-- PRODUTOS CATEGORIA -->
              <%= yield %>
              <!-- / PRODUTOS CATEGORIA -->

              
              <!-- NEWSLETTER -->
              <div id="guardaNewsletter">
                  <div id="novidadesNews">
                      <p>NOVIDADES <br/> Deseja receber informações e novidades?</p>
                  </div>
                  <div id="guardaFormNewsletter">
                      <form>
                        <input type="text" name="" id="campoNomeNewsletter" value="Nome" />
                        <input type="text" name="" id="campoEmailNewsletter" value="E-mail" />
                        <%= link_to image_tag("bt-enviar.gif", :alt => ""), "javascript:void(0);" %>
                      </form>
                  </div>
              </div>
              <!-- / NEWSLETTER -->
          </div>
      </div>
      <!-- / CONTEUDO -->

      <!-- RODAPE -->
      <div id="footer">
          <div class="wrapper">
              <div id="contentRodape">
                  <div id="esquerdaRodape">
                  	<%= link_to image_tag("logo-rodape.png", :alt => "CsilkBrindes"), "/" %>
                      
                      <ul>
                          <li><%= link_to "Quem somos", quem_somos_path %></li>
                          <li><%= link_to "O que fazemos", fazemos_path %></li>
                          <li><%= link_to "Produtos", produtos_path %></li>
                          <li><%= link_to "Clientes", clientes_path %></li>
                          <li><%= link_to "Sustentabilidade", sustentabilidade_path %></li>
                          <li><%= link_to "Contato", contatos_path %></li>
                          <li><%= link_to "Seja um fornecedor", fornecedores_path %></li>
                      </ul>
                  </div>
                  
                  <div id="categoriasRodape">
                      <p>Categorias</p>
                      <ul>
                      	<% categorias.each do |c| %>
                          <% if c.produtos.size > 0 %>
                      	   <li><%= link_to c.nome, categoria_path(c.slug) %></li>
                          <% end %>
                        <% end %>
                      </ul>
                  </div>
              </div>
          </div>
          <p id="direitosReservados">Todos os direitos reservados - CSilkBrindes - <%= Time.now.year %></p>
      </div>
      <!-- / RODAPE -->

      <script type="text/javascript">
        $(function(){
          var regex = /^[\w\.=-]+@[\w\.-]+\.[\w]{2,3}$/;
          $("#guardaFormNewsletter a").click(function(){
            // VALIDA NOME
            if( $("#campoNomeNewsletter").val().length > 2 && $("#campoNomeNewsletter").val() != 'Nome' ){
              // VALIDA EMAIL
              if( $("#campoEmailNewsletter").val() != 'E-mail' && regex.test($("#campoEmailNewsletter").val()) ){
                // SALVA DADOS
                $.ajax({
                  url: "<%= newsletters_path %>",
                  type: "GET",
                  data:{
                    "newsletter":{
                      "nome":  $("#campoNomeNewsletter").val(),
                      "email": $("#campoEmailNewsletter").val()
                    }
                  },
                  success:function(data){
                    alert(data);
                    $("#campoNomeNewsletter").val("Nome");
                    $("#campoEmailNewsletter").val("E-mail");
                  }
                });

              }else{
                alert("Por favor, digite um e-mail válido")
                $("#campoEmailNewsletter").focus();
              }
            }else{
              alert("Por favor, digite um nome válido");
              $("#campoNomeNewsletter").focus();
            }
          });
        });
      </script>
</body>
</html>
